name: Update

on:
  schedule:
    - cron: "0 19 * * *" # 11am PST
  workflow_dispatch:

permissions:
  contents: write

env:
  NIXPKGS_ALLOW_UNFREE: "1"

jobs:
  update:
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-24.04"
          # - "ubuntu-24.04-arm"
          - "macos-26"

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" | tee -a "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      - uses: DeterminateSystems/determinate-nix-action@681d8e8bfdb5d7af56f113ba2425b1fb00ec9edc # v3.16.1
        with:
          extra-conf: |
            accept-flake-config = true

      - uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: josh
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Configure git commit author
        run: |
          git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com'

      - id: attrs
        name: Get package attributes to update
        run: |
          set -o pipefail
          nix eval --raw --impure --file ./internal/update-script-attrs.nix | tee "$GITHUB_OUTPUT"
        env:
          FLAKE_URI: ${{ github.workspace }}

      - name: Run update-script
        run: |
          set -o pipefail
          exit_code=0
          while read -r attr; do
            printf "\n\n==== Updating %s ====\n" "$attr" >&2
            if ! UPDATE_NIX_ATTR_PATH="$attr" nix run --file ./internal/update-script.nix; then
              echo "::error::Update failed for $attr" >&2
              exit_code=1
            fi
          done <<<"$(jq --raw-output '.[]' <<<"$UPDATE_NIX_ATTRS")"
          exit $exit_code
        env:
          FLAKE_URI: ${{ github.workspace }}
          UPDATE_NIX_ATTRS: ${{ steps.attrs.outputs.attrs }}
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
